@charset "UTF-8";

/* すべてのwebページに適用される */

/*menu.html*/
p { font-size: 15px; }

/* 見出し */
h1 { font-size: 26px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }

/*index.html*/
.bodycolor{
        background-color: #EFEFEF;
}

#card-top{
        margin-top: 1rem;
}

.card-bg-color:hover{
        background-color:#B3B3B3;
}

.top{
        position:relative;
}
.topimage{
        width: 100%;
        height: 100%;
        opacity: 0.6;
}

.top span{
        position:absolute;
        text-align:center;
        bottom:16rem;
        left:4rem;
        width:1200px;
        color:#000;
        line-height:250%;
        filter:alpha(opacity=80);
        -moz-opacity: 0.8;
        opacity: 0.8;
        font-size: 80px;
        font-family: "Rounded Mplus 1c";
}

.btn-left{
        margin-right: 1rem;
        margin-left: auto;
        margin-bottom: 0.5rem;
}

.wf-nicomoji {
        font-family: "Nico Moji";
}

.navcolor{
        background-color: #4D4D4D;
}

.navfont h1{
        color: #fff;
        font-style: normal;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
}

.column-margin .col-md-4{
        padding:0 1px;
}

.column-margin{
        margin:0 -120px;
}

p.card-text-center{
        text-align: center;
}

.linkbox{
        position: relative;
}

.linkbox a{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -999px;
}