@charset "UTF-8";

/* すべてのwebページに適用される */

/*menu.html*/
.listblock {
    overflow: hidden;
    zoom: 1;
}

.listleftblock {
    float: left;
    width: 300px;

}

.listrightblock {
    padding-left: 320px;
}

p {
    font-size: 15px;
}

/* 見出し */
h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.content .container {
    margin-top: 20px;
}

.content .col-md-3 {
    margin: 20px 0;
}

.content .card .card-title {
    color: #fff;
}

.content .card .card-text {
    color: #fff;
}

.content .card-title span {
    background-color: #000;
}
