@charset "UTF-8";

/* すべてのwebページに適用される */

/*index.html*/
.bodycolor{
        background-color: #EFEFEF;
}

#card-top{
        margin-top: 1rem;
}

.card-bg-color:hover{
        background-color:#B3B3B3;
}

.top{
        position:relative;
}
.topimage{
        width: 100%;
        height: 100%;
        opacity: 0.6;
}

.navcolor{
        background-color: #4D4D4D;
}

.navfont h1{
        color: #fff;
        font-style: normal;
        text-decoration: none;
        text-align: center;
}

.linkbox{
        position: relative;
}

.linkbox a{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.content .container {
    margin-top: 20px;
}

.content .col-md-3 {
    margin: 20px 0;
}

.content .card .card-title {
    color: #fff;
}

.content .card .card-text {
    color: #fff;
}

.content .card-title span {
    background-color: #000;
}
