html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #444;
}

h3 {
    margin:15px;
    color: #fff;
}

img {
    background-color: white;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 30rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer > .container {
  width: auto;
  max-width: 680px;
  margin-left: 30px;
}
